.header {
    height: 70px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #CCC;
    padding: 0 32px;
    .header__left {
        flex: 1;

        .header__left-logo {
            height: 60px;
        }
    }
    .header__mid {
        flex: 1;
        .header__mid-list {
            display: flex;
            list-style: none;

            .header__mid-lis__item {
                font-size: 22px;
                display: block;
                margin: 0 12px;
                font-weight: 500;
                color: black;

            }
            .header__mid-lis__item:hover {
                color: #33cc66;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
    .header__right {
        display: flex;
        align-items: center;
        flex: 1;
        .fa-search{
            margin: 0 16px;
            font-size: 22px;
            color: #33cc66;
            
        }
        .fa-search:hover {
            color: black;
            font-weight: 600;
            cursor: pointer;
        }
        .header__right-btn {
            font-size: 16px;
            margin: 18px;
            border: 1px solid;
            border-radius: 16px;
            padding: 6px;
            color: #33cc66;
            position: relative;
            .fa-shopping-bag {
                margin-left: 8px;
            }
        }
        .header__right-btn:hover {
            color: white;
            background-color: black;
            cursor: pointer;
        }
        .header__right-btn::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: #CCC;
            top:0;
            left: -20px;
        }
    }
}