.card {
<<<<<<< HEAD
<<<<<<< Updated upstream
margin-left: 0px;
padding: 10px;
display: flex;
}


 .bg-light{
   margin-top: 10px;
}
=======
=======
>>>>>>> d615d2362b4aba82a26a8a693a3af7fc1178289d
    margin-left: 0px;
    padding: 10px;
    display: flex;
    }
    
    
     .bg-light{
       margin-top: 10px;
<<<<<<< HEAD
    }
>>>>>>> Stashed changes
=======
    }
>>>>>>> d615d2362b4aba82a26a8a693a3af7fc1178289d
